<div class="subjects delete">
	<h2>Delete Products</h2>

	<%= form_for(:framework, :url => {:action => 'destroy', :id => @framework.id}) do |f| %>

	<p>Are you sure you want to permanently delete this framework?</p>
		<dl class="dl-horizontal">
			  <dt><p class="reference-name"><%= @framework.name %></p></dt>
		</dl>
		<div class="form-actions">
  		<%= submit_tag ("Delete Framework"), :class => 'btn btn-danger' %>
  		<%= link_to("Cancel", {:action => 'index'}, :class => 'back-link')%>
    	</div>
	<% end %>
</div>
