@import "myvariables";

h1 {
  // Use 
  color: @green;
  font-family: @serifFontFamily;
}

a {
 color: @green;
}

body {
  font-family: @sansFontFamily;

}


.navbar-inner {
  background-color: @navbarBrandColor;
/* remove the gradient */
  background-image: none;
/* set font color to white */
}

navbar-status {
   background-color: @black;
   background-image: none;
    color: @black;
}

.navbar .nav > li > a {
    color: @white;
}
.navbar-status .nav > li > a {
    color: @black;
}


.navbar .brand {
    color: @white;
}
